name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible

      - name: Install Ansible requirements
        run: ansible-galaxy collection install community.docker

      - name: Set up SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -p ${{ secrets.SERVER_PORT }} ${{ secrets.SERVER_ADDRESS }} >> ~/.ssh/known_hosts

      - name: Run Ansible Playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
          # Inventory vars
          SERVER_ADDRESS: "${{ secrets.SERVER_ADDRESS }}"
          SERVER_USER: "${{ secrets.SERVER_USER }}"
          SERVER_PORT: "${{ secrets.SERVER_PORT }}"
          
          # Playbook vars
          POSTGRES_USER: "${{ secrets.POSTGRES_USER }}"
          POSTGRES_PASSWORD: "${{ secrets.POSTGRES_PASSWORD }}"
          POSTGRES_DB: "${{ secrets.POSTGRES_DB }}"
          WEATHER_API_KEY: "${{ secrets.WEATHER_API_KEY }}"
        run: ansible-playbook -i ansible/inventory.yaml ansible/deploy.yaml
